/* node overview box */
.node-overview {
    background-color: white;
    height: 18%;
    /*width: 30%;*/
    box-shadow: 0px 5px 8px -4px black;
    border-radius: 5pt;
    width: 300pt;
}

.node-overview:hover {
    background-color: lightgrey;
}

.node-name {
    font-size: 30pt;
    color: dimgrey;
    padding: 1% 5%;
    float: left;
}

.node-circle {
    height: 20pt;
    width: 20pt;
    border-radius: 50%;
    float: right;
}

.node-damage {
    font-size: 20pt;
    color: grey;
    padding: 0 5%;
    float: left;
}

.node-life {
    font-size: 20pt;
    color: grey;
    padding: 0 5%;
    float: left;
}

.node-status {
    padding: 4%;
}

ul.tile-list {
    overflow: hidden;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 0 120pt;
    
}

li.tile {
    float: left;
    display: inline-block;
    margin: auto 0;
    padding: 10pt 10pt;
}
