node/logs/*
node/data/raw/*
node/data/accelerometer.data
node/data/*.py
node/flags/*
node/src/py/gmail_password
node/settings/*

manager/logs/*
manager/data/settings/*
manager/data/flags/*
manager/data/nodes/*