<html>
    <head>
        <title>Sundar Research - Node Manager</title>
    </head>

    <body>

        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="../static/css/styles.css" rel="stylesheet">
        <link href="../static/css/title.css" rel="stylesheet">
        <link href="../static/css/information.css" rel="stylesheet">
        <link href="../static/css/slider.css" rel="stylesheet">
        <link href="../static/css/numberbox.css" rel="stylesheet">
        <link href="../static/css/buttons.css" rel="stylesheet">
        <script src="../static/js/ChartJs/Chart.min.js"></script>
        <script src="../static/js/ChartJs/ChartUtils.js"></script>
        <script src="../static/js/information.js"></script>

        <div class="title-bar">
            <span>
                <div class=title-main>
                    Sundar Research
                </div>
                <div class=title-sub>
                    Node Overview
                </div>
            </span>
        </div>

        

        <br><br><br><br><br>
        <div class="content" id="content">
            <div class="node-overview" id="node">
                <div style="display: flex; justify-content: space-between;">
                    <div class="clean-header">
                        Today's Data:
                    </div>
                    <div onClick="deleteFiles();">
                        Delete
                    </div>
                </div>
                {% for i in range(data|length) %}
                    <div class="selector" onmouseenter="showX(this)" onmouseleave="hideX(this)">
                        <a target="_blank" href="/download-raw-data?id={{ i }}" class="node-attribute">
                            {{ i }}: {{ data[i] }}
                        </a>
                        
                        <div onClick="addDeleteFile({{ i }}, this);" style="visibility: hidden; color: red; align-self: center; padding: 0 10pt">
                            x
                        </div>
                    </div>
                {% endfor %}
                <br>
            </div>
        </div>
        <br><br>
    </body>

    <script>
        function showX(element) {
            element.children[1].style.visibility = 'visible';
        }
        
        function hideX(element) {
            element.children[1].style.visibility = 'hidden';
        }

        var ids = [];

        function deleteFiles() {
            fetch("/delete-raw-data?id=" + id + "&zero={{ data[0] }}");
        }

        function addDeleteFile(id, element) {
            var i = ids.indexOf(id);
            if (i == -1) {
                ids.push(id);
                element.parentElement.style.textDecoration = 'line-through';
            }
            else {
                ids.splice(i,1);
            }
            return;
        }
    </script>
</html>